<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Coast Woman</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    	<!-- fontawesome -->
	  <script src="https://kit.fontawesome.com/52ac5380d0.js" crossorigin="anonymous"></script>
    <!-- <link href="css/font-awesome.css" rel="stylesheet"> -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="upperHeader">
          <div class="row">
            <div class="col-md-4 col-xs-3 col-sm-2">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="hidden-xs hidden-sm">
                  <div class="subscribe top-header">
                    <div class="info">
                      <p>The Coast Woman Magazine</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
              <div class="col-md-4 col-xs-9 col-sm-3 col-sm-offset-7 col-md-offset-0">
                <!-- SVG LOGO here -->
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <div class="row">
            <div class="col-lg-2 hidden-md ">
              <!-- SVG logo here -->
            </div>
            <div class="col-lg-8">
                <ul class="nav navbar-nav">
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Fashion</a></li>
                  <li><a href="#contact">Beauty</a></li>
                  <li><a href="#contact">Health</a></li>
                  <li><a href="#contact">Culture</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Travel</a></li>
                      <li><a href="#">Lifestyle</a></li>
                      <li><a href="#">Men's Corner</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Fashion Gallery</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">View More Categories</a></li>
                    </ul>
                  </li>
                </ul>
            </div>
            <div class="col-lg-1 col-md-2">
              <ul class="nav navbar-nav pull-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle follow" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subscriptions</a>
                     <ul class="dropdown-menu">
                         <li><a href="#">Monthly</a></li>
                         <li><a href="#">Yearly</a></li>
                         <li role="separator" class="divider"></li>
                         <li><a href="#">My Subscriptions</a></li>
                     </ul>
                  </li>
                 <!-- <li><a href="#contact" id="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li> -->
              </ul>
            </div>
          </div>
        </div><!--/.nav-collapse -->
      </div>
      </div>
    </nav>
    <!-- end of nav bar -->

    <!-- top stories -->
    <section class="stories">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="dotted"></div>
        </div>
        <div class="col-md-4">
          <h4 class="text-center">Coast Woman</h4>
        </div>
        <div class="col-md-4 ">
          <div class="dotted" ></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="wrap-fade">
            <a href="#">
                <img  src="{% static 'img/categories/pasta-1181189_640.jpg' %}"/>
                <h3> Coast Woman's Daily Recipe</h3>
                <p> <span>By </span> Coast Woman</p>
                <hr/>
                <p>Health</p>
                <p>7:00 AM</p>
            </a>
          </div>
        </div>
          <div class="col-md-3 col-sm-6">
            <div class="wrap-fade">
              <a href="#">
                  <img  src="{% static 'img/categories/woman-1245558_640.jpg' %}"/>
                  <h3>Women Of the Coast</h3>
                  <p> <span>By </span> Coast Woman</p>
                  <hr/>
                  <p>Culture</p>
                  <p>7:00 AM</p>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="wrap-fade">
              <a href="#">
                  <img  src="{% static 'img/categories/statistics-3335680_640.jpg' %}"/>
                  <h3>Hand on Business</h3>
                  <p> <span>By </span> Coast Woman</p>
                  <hr/>
                  <p>Entrepreneurship</p>
                  <p>7:00 AM</p>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="wrap-fade">
              <a href="#">
                  <img  src="{% static 'img/categories/demonstration-425278_640.jpg' %}"/>
                  <h3>Getting Your Hair Straight</h3>
                  <p> <span>By </span> Coast Woman</p>
                  <hr/>
                  <div>
                  <p>Fashion</p>
                  <p>7:00 AM</p>
                </div>
              </a>
            </div>
          </div>
      </div>
</div>
    </section>
    <!-- end of top stories -->

    <div id="hero" >
    </div>

    <!-- feature artcle -->
    <div class="feauturedArticle">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="info-article">
              <h1>The Queen Of The Carpet</h1>
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <div class="text-center">
                    <span> By </span> <p>Ellie Taylor</p>
                    <hr/>
                    <div>
                      <p>Fashion Trends</p>
                      <p>17:00 AM</p>
                    </div>
                  </div>
                </div><!--col-md-4 -->
              </div><!--row-->
            </div><!--info-article-->
          </div><!--col-->
        </div><!--row-->
      </div><!--container-->
    </div>
    <!--feauturedArticle-->

    <!-- section //advert -->
    <section id="forPadding">
      <div id="divededArticle">
        <div class="container">
          <a href="#">
            <div class="article">
              <div class="row">
                <div class="col-md-6 nopadding">
                  <div class="articleText">
                    <h1>This Can Be An Advertisement</h1>
                    <p class="text-center"><span>In partnership with </span>Macho Organization</p>
                  </div>
                </div>
                <div class="col-md-6 nopadding">
                  <div class="articlePhoto">
                  </div>
                </div>
              </div>
            </div><!--row-->
          </a>
        </div><!--container-->
      </div>
    </section>
    <!-- section //advert -->

    <section class="stories">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="dotted"></div>
        </div>
        <div class="col-md-4">
          <h4 class="text-center">Coast Woman Updates</h4>
        </div>
        <div class="col-md-4">
          <div class="dotted"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="wrap-fade">
            <a href="#">
                <img  src="{% static 'img/covers3.png' %}"/>
                <h3>Vogue View: Are We Bidding Farewell To The Box-Set Phenomenon?</h3>
                <p> <span>By </span> Coast Woman</p>
                <hr/>
                <p>Film & TV</p>
                <p>7:00 AM</p>
            </a>
          </div>
        </div>
          <div class="col-md-3 col-sm-6">
            <div class="wrap-fade">
              <a href="#">
                  <img  src="{% static 'img/covers2.png' %}"/>
                  <h3>Vogue View: Are We Bidding Farewell To The Box-Set Phenomenon?</h3>
                  <p> <span>By </span> Coast Woman</p>
                  <hr/>
                  <p>Film & TV</p>
                  <p>7:00 AM</p>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="wrap-fade">
              <a href="#">
                  <img  src="{% static 'img/covers1.png' %}"/>
                  <h3>Vogue View: Are We Bidding Farewell To The Box-Set Phenomenon?</h3>
                  <p> <span>By </span> Coast Woman</p>
                  <hr/>
                  <p>Film & TV</p>
                  <p>7:00 AM</p>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="wrap-fade">
              <a href="#">
                  <img  src="{% static 'img/covers2.png' %}"/>
                  <h3>Vogue View: Are We Bidding Farewell To The Box-Set Phenomenon?</h3>
                  <p> <span>By </span> Coast Woman</p>
                  <hr/>
                  <div>
                  <p>Fashion trends</p>
                  <p>7:00 AM</p>
                </div>
              </a>
            </div>
          </div>
      </div>
    </div>
    </section>


    <div id="hero2">
    </div>
    <div class="feauturedArticle">
    <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="info-article">
          <h1>Buy Now: 10 Best Logo Pieces </h1>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <div class="text-center">
                <span> By </span> <p>Ellie Taylor</p>
                <hr/>
                <div>
                  <p>Fashion Trends</p>
                  <p>17:00 AM</p>
                </div>
              </div>
            </div><!--col-md-4 -->
          </div><!--row-->
        </div><!--info-article-->
      </div><!--col-->
    </div><!--row-->
    </div><!--container-->
    </div><!--feauturedArticle-->

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script> 
    <script src="{% static 'js/script.js' %}"></script>

  </body>
</html>
