{% extends 'magazine/_base.html' %}
{% load static %}

{% block extrahead %}
<link
href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
rel="stylesheet"
type="text/css"
/>
<link
href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
rel="stylesheet"
type="text/css"
/>
<link
href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
rel="stylesheet"
type="text/css"
/>
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />

{% endblock %}
{% block title %} Coast Woman{% endblock %}

{% block content %}
   <!-- Masthead-->
   <header class="masthead">
    <div class="container">
      <div class="masthead-subheading">Made With Love By</div>
      <div class="masthead-heading text-uppercase">Coast Woman</div>
      <a
        class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
        href="#top-stories"
        >Explore</a
      >
    </div>
  </header>

  <!-- Top Stories-->
  <section class="page-section" id="top-stories">
    <div class="container">
      <!-- Page Heading -->
      <h1 class="my-4">
        Featured Articles
        <small>By Coast Woman</small>
      </h1>

      <div class="row">

        {% for article in article %}
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="{% url 'article' %}"
              ><img
                class="card-img-top"
                src="http://placehold.it/700x400"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'article' %}">{{ article.title }}</a>
              </h4>
              <p class="card-text">
                {{ article.description }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Portfolio-Categories Grid-->
  <section class="page-section bg-light" id="portfolio">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">categories</h2>
        <h3 class="section-subheading text-muted">
          We cover all crucial and yet fun topics to read (tap on the image)
        </h3>
      </div>
      <div class="row">

        {% for category in category %}
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-toggle="modal"
              href="{% url 'category' %}"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                </div>
              </div>
              <img
                class="img-fluid"
                src="{{ category.imageURL }}"
                alt=""
              />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">{{ category.category }}</div>
              <div class="portfolio-caption-subheading text-muted">
                L{{ category.description }}
              </div>
              <div class="portfolio-caption-subheading mt-3">
                <a href="{% url 'category' %}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

  <!-- News Updates sesion-->
  <section class="page-section" id="about">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">News Updates</h2>
        <h3 class="section-subheading text-muted">
          Catch What's happening Now on Updates
        </h3>
      </div>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="{% static 'assets/img/about/1.jpg' %}"
              alt=""
            />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Dec 2020</h4>
              <h4 class="subheading text-primary">Corona Ends</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                ut voluptatum eius sapiente, totam reiciendis temporibus qui
                quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="{% static 'assets/img/about/2.jpg' %}"
              alt=""
            />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Dec 2020</h4>
              <h4 class="subheading text-primary">Christmas Offers</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                ut voluptatum eius sapiente, totam reiciendis temporibus qui
                quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="{% static 'assets/img/about/3.jpg' %}"
              alt=""
            />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Dec 2020</h4>
              <h4 class="subheading text-primary">Our festive Moods</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                ut voluptatum eius sapiente, totam reiciendis temporibus qui
                quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="{% static 'assets/img/about/4.jpg' %}"
              alt=""
            />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Dec 2020</h4>
              <h4 class="subheading text-primary">Covid Vaccination Centers</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                ut voluptatum eius sapiente, totam reiciendis temporibus qui
                quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <h4>
              written
              <br />
              with
              <br />
              love
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- sponsors-->
  <section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Sponsors</h2>
        <h3 class="section-subheading text-muted">
          Lorem ipsum dolor sit amet consectetur.
        </h3>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="team-member">
            <img
              class="mx-auto rounded-circle"
              src="http://placehold.it/700x400"
              alt=""
            />
            <h4>Sponsor 0</h4>
            <p class="text-muted">Sponsor details</p>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img
              class="mx-auto rounded-circle"
              src="http://placehold.it/700x400"
              alt=""
            />
            <h4>Sponsor 3</h4>
            <p class="text-muted">Sponsor details</p>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img
              class="mx-auto rounded-circle"
              src="http://placehold.it/700x400"
              alt=""
            />
            <h4>Sponsor 4</h4>
            <p class="text-muted">Sponsor Details</p>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
            eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam
            corporis ea, alias ut unde.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Clients-->
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"
            ><img
              class="img-fluid d-block mx-auto"
              src="{% static 'assets/img/logos/envato.jpg' %}"
              alt=""
          /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"
            ><img
              class="img-fluid d-block mx-auto"
              src="{% static 'assets/img/logos/designmodo.jpg' %}"
              alt=""
          /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"
            ><img
              class="img-fluid d-block mx-auto"
              src="{% static 'assets/img/logos/themeforest.jpg' %}"
              alt=""
          /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"
            ><img
              class="img-fluid d-block mx-auto"
              src="{% static 'assets/img/logos/creative-market.jpg' %}"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
