@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
.navbar-default {
  background: none;
}

.navbar-default .navbar-collapse {
  border-top: 1px solid #e7e7e7;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.06);
          box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.06);
  background: white;
}

.navbar-default .navbar-collapse a {
  line-height: 60px;
  color: #111 !important;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 15px;
  text-transform: uppercase;
}

.navbar-default .navbar-collapse a:hover {
  color: #c74375 !important;
}

.navbar-default .navbar-collapse .follow {
  color: #666 !important;
  font-family: "adobe-caslon-pro", serif;
  font-size: 14px;
  letter-spacing: normal;
  font-style: italic;
  text-transform: capitalize;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  padding-top: 2px;
  font-weight: 400;
}

.navbar-default .navbar-collapse #search {
  border-left: 1px solid #e7e7e7;
}

.navbar-header {
  padding: 30px 0 20px 0;
}

.navbar-header #cover {
  width: 30%;
  float: left;
  margin-right: 20px;
}

.navbar-header .subscribe {
  position: absolute;
  z-index: -1;
  top: 40px;
}

.navbar-header .subscribe .info p {
  font-family: "adobe-caslon-pro", serif;
  font-size: 12px;
  line-height: 5px;
  letter-spacing: normal;
  color: #666;
  white-space: pre-line;
  display: block;
  text-transform: none;
}

.navbar-header .subscribe .info a {
  font-family: Nobel, sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-size: 10px;
  padding: 4px;
  margin-top: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #c00000;
  color: #c00000;
}

.navbar-header .subscribe .info a:hover {
  background: #c00000;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
}

#navbar {
  z-index: 1111;
  width: 100%;
}

#logoSm {
  display: none;
}

#vogue-logo {
  padding: 30px 0 20px;
}

body {
}

img {
  max-width: 100%;
}

.nopadding {
  padding: 0 !important;
}

h1 {
  font-size: 25px;
  text-align: center;
  color: #111;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: -0.01em;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  line-height: 1.2em;
  margin: 0;
}

h4 {
  font-size: 25px;
  line-height: 1em;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

section:first-of-type {
  margin-top: 60px;
}

section {
  margin-top: 180px;
}

h3 {
  margin: 20px 0;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.cursour, span {
  color: #666;
  font-size: 12px;
  letter-spacing: normal;
  font-style: italic;
  text-transform: lowercase;
  margin-right: 2px;
}

.signiture, p {
  color: #111;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  display: inline;
}

#forPadding {
  background: #F9F9F9;
  padding: 20px 0;
}

#divededArticle {
  background: #F4F4F4;
}

#divededArticle .articlePhoto {
  height: 350px;
  width: 100%;
  background: url("../img/categories/african-2197414_1920.jpg") no-repeat 100%;
  background-size: cover;
}

#divededArticle .articleText {
  background: white;
  padding: 100px 50px;
}

#divededArticle .articleText p {
  display: block;
}

#divededArticle .article {
  margin: 70px 0;
}

.fading {
  opacity: 0.8;
}

.stories a {
  text-decoration: none;
  color: black;
}

.wrap-fade {
  margin-bottom: 50px;
}

.wrap-fade p:last-child {
  border-left: 1px solid #e7e7e7;
  padding: 8px 10px;
  margin-left: 10px;
}

#hero {
  height: 230px;
  width: 100%;
  color: #fff;
  background: url("../img/categories/fashion-show-1746590_1920.jpg") no-repeat 100%;
  background-size: cover;
}

#hero2 {
  height: 230px;
  width: 100%;
  color: #fff;
  background: url("../img/categories/fashion-show-1746590_1920.jpg") no-repeat 100%;
  background-size: cover;
}

.feauturedArticle {
  position: relative;
}

.feauturedArticle .info-article {
  position: absolute;
  top: -35px;
  padding: 20px 20px;
  background: white;
  margin: 0;
  width: 100%;
}

.feauturedArticle .info-article h1 {
  margin-bottom: 20px;
}

.feauturedArticle .info-article p:last-child {
  border-left: 1px solid #e7e7e7;
  padding: 8px 10px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  #logoSm {
    display: none !important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #hero {
    height: 500px;
  }
  #hero2 {
    height: 500px;
  }
  .feauturedArticle .info-article {
    position: absolute;
    top: -90px;
    padding: 40px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .dotted {
    border-bottom: 1px dotted #8c8b8b;
    padding-top: 20px;
  }
  #hero {
    height: 800px;
  }
  #hero2 {
    height: 800px;
  }
  h1 {
    font-size: 35px;
  }
}

/* Large Devices, Wide Screens */
/*# sourceMappingURL=style.css.map */