body {
  padding-top: 56px;
}

.carousel-item {
  height: 85vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-color-main {
  background-color: #C74375;
}

.bg-color-lite {
  background-color: #c4527d;
}

