@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
}

img{
     max-width: 100%;
}
.nopadding{
  padding: 0!important;
}
h1{
    font-size: 25px;
    text-align: center;
    color: #111;
    // font-family: "ITC Caslon",Georgia,serif;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: -0.01em;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    line-height: 1.2em;
    margin:0;
}

h4{
    font-size: 25px;
    // font-family: Nobel,sans-serif;
    line-height: 1em;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

section:first-of-type{
  margin-top:60px;
}
section{
  margin-top:180px;
}
h3{
  margin: 20px 0;
  // font-family: "ITC Caslon",Georgia,serif;
  font-size: 20px;
   line-height: 20px;
  margin-bottom: 15px;
  }
  .cursour{
    color:#666;
    // font-family: "adobe-caslon-pro",serif;
    font-size: 12px;
    letter-spacing: normal;
    font-style: italic;
    text-transform: lowercase;
    margin-right: 2px;
  }
  .signiture{
      color: #111;
      // font-family: Nobel,sans-serif;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
  }

  span{
    @extend .cursour;
  }
  p{
    display:inline;
    @extend .signiture;
  }
