.navbar-default {
  background: none;
  .navbar-collapse {
    border-top: 1px solid #e7e7e7;
    box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.06);
    background: white;
    a {
      line-height: 60px;
      color: #111 !important;
      // font-family: Nobel,sans-serif;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 0 15px;
      text-transform: uppercase;
      &:hover {
        color: #c74375 !important;
      }
    }
    .follow {
      color: #666 !important;
      font-family: "adobe-caslon-pro", serif;
      font-size: 14px;
      letter-spacing: normal;
      font-style: italic;
      text-transform: capitalize;
      padding-right: 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 60px;
      padding-top: 2px;
      font-weight: 400;
    }
    #search {
      border-left: 1px solid #e7e7e7;
    }
  }
}
.navbar-header {
  padding: 30px 0 20px 0;
  #cover {
    width: 30%;
    float: left;
    margin-right: 20px;
  }
  .subscribe {
    position: absolute;
    z-index: -1;
    top: 40px;
    .info {
      p {
        font-family: "adobe-caslon-pro", serif;
        font-size: 12px;
        line-height: 5px;
        letter-spacing: normal;
        color: #666;
        white-space: pre-line;
        display: block;
        text-transform: none;
      }
      a {
        font-family: Nobel, sans-serif;
        font-size: 10px;
        line-height: 10px;
        font-size: 10px;
        padding: 4px;
        margin-top: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 1px solid #c00000;
        color: #c00000;
        &:hover {
          background: #c00000;
          color: white;
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
}
#navbar {
  z-index: 1111;
  width: 100%;
}
#logoSm {
  display: none;
}
#vogue-logo {
  padding: 30px 0 20px;
}
