



#forPadding{
  background: #F9F9F9;
  padding:20px 0;
}
#divededArticle{
  background: #F4F4F4;
  .articlePhoto{
    height: 350px;
     width: 100%;
     background: url("../img/categories/african-2197414_1920.jpg") no-repeat 100%;
     background-size: cover;

  }
  .articleText{
    background: white;
    padding:100px 50px;
    p{
      display: block;
    }
  }
  .article{
    margin:70px 0;
  }

}

.fading{
  opacity: 0.8;
}
.stories{
  a{
    text-decoration: none;
    color:black;

  }
}

.wrap-fade{
  margin-bottom: 50px;
  p:last-child{
      border-left: 1px solid #e7e7e7;
      padding:8px 10px;
      margin-left: 10px;
  }
}

#hero{
  height: 230px;
   width: 100%;
   color: #fff;
   background: url("../img/categories/fashion-show-1746590_1920.jpg") no-repeat 100%;
   background-size: cover;
}
#hero2{
  height: 230px;
   width: 100%;
   color: #fff;
   background: url("../img/categories/fashion-show-1746590_1920.jpg") no-repeat 100%;
   background-size: cover;
}
.feauturedArticle{
  position: relative;
  .info-article{
    position: absolute;
    top: -35px;
    padding: 20px 20px;
    background: white;
    margin: 0;
    width: 100%;
    h1{
      margin-bottom: 20px;
    }
    p:last-child{
        border-left: 1px solid #e7e7e7;
        padding:8px 10px;
        margin-left: 10px;
    }

  }


}
